DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_AUTH_MODE=oauth
GOOGLE_OAUTH_CLIENT_FILE=./oauth-client.json
GOOGLE_OAUTH_TOKEN_FILE=./google-token.json
TIME_ZONE=Asia/Bangkok
START_ROW=3
IMAGE_ROW_HEIGHT=300
